<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>主页</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--   js文件-->
    <script src="/panel_script.js"></script>
    <!--   css文件-->


</head>

<body>


<div class="top">
    <p>控制面板</p>
    <button id="add_button" class="add_button"> 添加</button>
</div>

<div class="show_no_thing" id="show_no_thing">
    <i class="fa-solid fa-graduation-cap"></i>
    <p>还没有添加项目</p>
</div>

<!-- 弹窗内容 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="input-group-top">
            <h2>预约项</h2>
            <span id="close_add" class="close">&times;</span>
        </div>

        <div class="input-group-add">
            <br>
            <label>预约账户</label>
            <input type="text" id="reservation_account">
            <br>
            <label>预约密码</label>
            <input type="text" id="reservation_password">
            <br>
            <label>预约时间</label>
            <div id="time-slots"></div>

            <br>
            <label>预约座位</label>
            <div class="input-group-seat">
                <label>
                    <select id="room_select" required onchange="updateSeats(this.value)">
                        <option value="">选择房间</option>
                    </select>
                    <!-- 隐藏的输入字段，用于存储房间的ID -->
                    <input type="hidden" id="roomId" name="roomId">
                </label>
                <label>
                    <select id="seat_show_num">
                        <option value="">请先选择房间</option>
                    </select>
                </label>
            </div>

        </div>
        <br>
        <div class="input-group-bottom">
            <button type="button" onclick="SyncData()">保存</button>
            <button type="button" onclick="document.getElementById('myModal').style.display='none'">取消</button>
        </div>

    </div>
</div>

<div id="myModal_server" class="modal">
    <div class="modal-content">
        <div class="input-group-top">
            <h2>服务项</h2>
            <span id="close_server" class="close">&times;</span>
        </div>

        <div class="input-group-add">
            <br>
            <div class="show_server_info">
             <label>账户</label>
            <p id="show_server_user"></p>
            </div>


            <ul id="switchList">
                <li id="s0-li">
                    <label for="s0">检查</label>
                    <input id="s0" type="checkbox" class="switch">
                    <p>时刻检查账户状态，是基础功能</p>
                </li>
                <li id="s1-li">
                    <label for="s1">签退</label>
                    <input id="s1" type="checkbox" class="switch">
                    <p>提供对学习通账户的签退</p>
                </li>
                <li id="s2-li">
                    <label for="s2">签到</label>
                    <input id="s2" type="checkbox" class="switch" checked>
                    <p>提供对学习通账户的签到</p>
                </li>
                <li id="s3-li">
                    <label for="s3">预约</label>
                    <input id="s3" type="checkbox" class="switch" checked>
                    <p>提供对学习通账户的自动预约服务</p>
                </li>
            </ul>


        </div>
    </div>
</div>
</body>
</html>